.first__column__table {
  margin: 20px 0px;

  height: 800px;
}

.first__card__table {
  height: 50%;
}

.heading__calculatorpage {
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  padding: 10px 0px;
}

.container__first__line__table {
}

.first__line__table {
  display: flex;
  gap: 10px;

  background: #f3f7fc;
  width: 263px;
  height: 50px;
  padding: 20px 10px;
  cursor: pointer;
}

.table__p {
  padding: 30px 0px;
}

.button__container__cacl__table {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.button__calculate__table {
  background: #c90000;
  color: #ffffff;
  width: 382px;
  height: 50px;
  margin: 20px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.button__clear__table {
  background: #ffffff;
  width: 173px;
  height: 50px;
  margin: 20px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}


.calculate__image {
  width: 100%;
  position: relative;

  
}

.calculate__image .ant-image {
  height: 100%;
  object-fit: cover;
}

.footer__calc__block {
  position: absolute;
  display: block;
  flex-direction: column;
  background: #010101;
  bottom: 0;
  color: #ffffff;
  width: 100%;
  max-width: 367px;
  height: 150px;
  cursor: pointer;
}

.heading__block__calc {
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  padding: 20px 20px;
  width: 70%;
}

.paragraph__block__calc {
  padding: 0px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.result__region {
  display: flex;
  gap: 10px;
}

.result__row {
  width: 100%;
  padding: 11px 0;
  border-bottom: 2px solid var(--black);
}

.result__row.total {
  font-weight: bold;
}

.block__small {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 150px;
  color: var(--white);
  
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-7px);
}

.block__middle {
  width: 100%;
}

.block__large {
  position: absolute;
  bottom: 0;
  width: 367px;
  height: 150px;
  color: var(--white);
  background: var(--black);

  margin: 20px;
}

.fade {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 150px;
  height: auto;

  background: var(--black);
  opacity: .5;

}