@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('/src/styles/warehouse_page.scss');

:root {
  --white: #fff;
  --black: #000;
  --red: #c90000;
}

* {
  margin: 0;
  padding: 0;
}

.page {
  min-height: calc(100vh - 100px);
}

.ant-layout {
  max-width: 1240px;
  margin: auto;
  background-color: transparent;
}

.ant-select {
  width: 100%;
}

.ant-space-item {
  width: 100%;
}

body {
  background-color: #e9e4e4;
  overflow-y: scroll;
}

.filter {
  max-height: 450px;
  min-height: 450px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  background-color: white;

  padding: 30px 27px;
}

.filter__buttons {
  width: 100%;
  margin-top: 33px;
}

.button {
  width: 100%;
  height: 50px;
  border-radius: 5px !important;
  font-weight: 400 !important;
  font-size: 16px;
  text-align: center;
}

.button.red {
  background-color: #c90000;
  color: white;
}

.button.primary {
  background-color: #e9e4e4;
  color: black;
}

p {
  margin: 0;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.header__menu {
  width: "100%";
  display: "flex";
  justify-content: "end";
  align-items: "center";
  font-weight: 600;
  background-color: #e9e4e4;
}

.header__menu>li,
li.ant-menu-item-selected,
li.ant-menu-item-selected:hover {
  /* color: white !important; */
}

.header__menu>.ant-menu-item-selected::after,
.ant-menu-item-active::after,
.ant-menu-item:hover {
  border-bottom-color: var(--red) !important;
}

.logo__header{
  width: 50px;
  height: 50px;
}

.post__card .ant-card {
  background: transparent;
}

.post__card .ant-card .ant-card-body {
  padding: 0;
}

.post__card__img {
  width: 370px;
  height: 200px;
}

.post__card__img .ant-image {
  width: 100%;
  max-height: 200px;

  padding: 0;
}

.post__card__img .ant-image .ant-image-img {
  width: 100%;
  max-height: 200px;
  background-color: #c90000;
  object-fit: cover;
}


.warehouses__table {
  margin-top: 30px;
}

.loading {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advertising__banner {
  margin-top: 30px;
}

.advertising__banner {}

.calculate__banner__button {
  background-color: #c90000;
}


.app-form {
  margin-top: 21px;
}

.app-form__label {
  font-size: 16px;
  margin: 0 !important;
  padding: 0 !important;
}