.first__column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.warehouse__card {
  width: 100%;
  height: 351px;
  padding: 30px;

  background-color: var(--white);
}

.warehouse__card__note {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;

  font-size: 20px;
}

.warehouse__card__note svg {
  height: 20px;
  width: 20px;
}

.second__line {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 0px;
}

.third__line {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 0px;
}

.second__card {
  width: 100%;
  height: 280px;
}

.third__card {
  width: 50%;
  height: 650px;
  padding: 20px 0px;
}

.second__column {
}

.heading__calculator__card {
  font-weight: 700;
  font-size: 24px;
  line-height: 0.15px;
}

.button__container__card {
  width: 100%;
}
.paragraph__calculate__name {
  font-style: normal;
  font-size: 16px;
}

.button__card__calcul {
  width: 80%;
  height: 30px;
  text-align: left;
  padding-left: 1em;
  border: solid;
}

.button__clear {
  width: 30%;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  background: #e9e4e4;
}

.button__calculate {
  width: 30%;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background: #c90000;
}

.footer__container__paragraph {
  width: 100%;
}

.ul__footer__paragraph {
  list-style-type: disc;
  font-size: 14px;
  font-weight: 400;
}
