.first__card__price{
margin: 20px 0px;
height: 94.5%;
}

.heading__calculator__price{
  font-weight: 700;
  font-size: 24px;
 
  
}

.button__container__card{

}

.paragraph__price__name {
  padding: 10px 0px;
  font-style: normal;
  font-size: 16px;
}

