.warehouse {
  margin-top: 30px;
}

.warehouse__calc {
  width: 590px;
  height: 650px;

  background-color: var(--white);

  padding: 30px;
}

.warehouse__calc .ant-card {
  padding: 0;
}

.warehouse__calc__notes {
  margin-top: 33px;
}